<footer class="page-footer dark">
  <div class="container">
    <h5>Desenvolvido por:</h5>
    <div class="row justify-content-center">
        <div class="col-3">
            <a href="https://wa.me/+5551999262182?text=Peguei seu contato no oarmazemdorustico.com">Gabriel Zanatto Salami</a>
        </div>
        <div class="col-3">
            <a href="https://wa.me/+5551998991257?text=Peguei seu contato no oarmazemdorustico.com">Guilherme Menezes Pacheco</a>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
      <p>© 2019 - O Armazém do Rústico</p>
  </div>
</footer>